.cache
[0-9]*
.Rproj.user
*.html
*_samples.rds
nohup.out
Rplots.pdf
*.log
.Rhistory
.RData
.idea
/data/runtime/config.R
/data/results/national/
/data/results/region/
/data/results/subnational/
/.RData
